<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Clarke</h1>
    <img src="/img/clarke.jpg" alt="Foto de Clarke">
    <h3>Joan Clarke fue la única mujer que trabajó en el equipo liderado por Turing para descifrar el código Enigma. 
        Clarke, matemática y criptoanalista, tuvo un rol central en la hazaña que implicó descifrar el Código Enigma utilizado por los alemanes, durante la Segunda Guerra Mundial.</h3>
</body>
</html>