<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Hamilton</h1>
    <img src="/img/hamilton.jpg" alt="Foto de Hamilton">
    <h3>Margaret Hamilton es una científica computacional, matemática e ingeniera de Software. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, ​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.
        Hizo posible el alunizaje en 1969 por haber diseñado el programa informático que controló el funcionamiento de todos los sistemas durante la misión espacial.
    </h3>
</body>
</html>