<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenidos al sitio "Héroes y Heroínas"</h1>
    <img src="/img/index.jpg" alt="Foto del Home">
    <h3>"Héroes y Heroínas Tecnológicos"</h3>
    <h4>En este sitio haremos un repaso por 7 personalidades importantes y representativas en el ámbito histórico del desarrollo de la tecnología, con un enfoque en la computación e informática.
        Hablaremos de grandes mujeres y hombres que contribuyeron inmensamente al desarrollo y evolución de las tecnologías informáticas como las conocemos hoy en día. 
    </h4>
</body>
</html>